@{
    ViewData["Title"] = "Donors";
}

<h2>List Of Donors</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Amount(R)</th>
            <th scope="col">Items</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td><a class="btn btn-outline-danger" href="#">Donate</a></td>
        </tr>
    </tbody>
</table>