@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img style="padding: 0; margin: 0" class="rounded-0" src="https://img.freepik.com/premium-photo/donation-box-with-food-white-brick-wall_106006-2246.jpg?w=2000" 
    alt="home page image" width="100%" height="250px"/>
</div>

<div>
    <div class="col-10">
        <h2>Our Work</h2>
        <p>The Disaster Response Hub, a non-profit organization, has entrusted us with the crucial task of building a comprehensive system to support their mission of providing practical aid during disasters. This system is designed to efficiently manage donations, ensuring they reach the right places at the right time.</p>

        <h3>Background</h3>
        <p>The Disaster Response Hub is dedicated to disaster relief efforts and relies on donations from individuals, companies, organizations, and governments. These donations can be in the form of goods such as clothes and non-perishable foods, or monetary contributions. Donors have the option to remain anonymous.</p>

        <h3>Donation Tracking</h3>
        <p>Our system enables the Disaster Response Hub to meticulously track donations and their subsequent allocation. Goods donations can be dispatched to disaster-affected areas, while monetary donations can be disbursed to local community organizations or used to purchase essential goods for disaster relief.</p>

        <h3>Transparency</h3>
        <p>Transparency is a core value for the Disaster Response Hub. They are committed to ensuring that accurate data is readily available to the appropriate stakeholders. To achieve this, we have developed a web application with two levels of access: public and authorized employee access.</p>

    </div>
    <div class="col-10">
        <h3>Requirements</h3>
        <ol>
            <li>The web application prominently features the foundation's color scheme – purple and orange.</li>
            <li>Secure user authentication is implemented for access to the web application.</li>
            <li>Authorized users can securely log in to capture new monetary donations. Mandatory fields include the donation date and amount, while donors have the option to remain anonymous.</li>
            <li>Authorized users can also record new goods donations, specifying the donation date, number of items, category (e.g., clothes or non-perishable foods), and item descriptions. Donors can choose to remain anonymous for goods donations as well.</li>
            <li>The web application comes pre-configured with specific categories of goods, including clothes and non-perishable foods.</li>
        </ol>
    </div>
</div>
